.logo {
	display:block;
	width:101px;
	height:55px;
	background-image     : url(../img/sprite-logo.png);
	background-color     : transparent;
	background-repeat    : no-repeat;
}

.haba {
background-position  : -0px -0px;
}

.lego {
background-position  : -101px -0px;
}

.playmobil {
background-position  : -303px -0px;
}

.liliputien {
background-position  : -202px -0px;
}

.vtech {
background-position  : -606px -0px;
}

.toys-story {
background-position  : -707px -0px;
}

.petshop {
background-position  : -505px -0px;
}

.twilight {
background-position  : -808px -0px;
}

.ouioui {
background-position  : -909px -0px;
}

.barbie {
background-position  : -404px -0px;
}


/* sprite layout */
.aide-suivi-commande {
background-image: url(../img/sprite-layout.jpeg);
width:200px;
height:58px;
display:block;
background-position  : -0px -0px;
}

.vignette_prp_enfant
{
background-image: url(../img/sprite-layout.jpeg);
background-position  : -2552px -0px;
width:184px;
height:84px;
display:block;
}

.oui-oui-et-le-cadeau-surprise {
background-image: url(../img/sprite-layout.jpeg);
width:184px;
height:100px;
display:block;
background-position  : -1250px -0px;
}

.pomme-d-api-magazine {
background-image: url(../img/sprite-layout.jpeg);
background-position  : -1768px -0px;
width:184px;
height:100px;
display:block;
}

.vtech-184 {
background-image: url(../img/sprite-layout.jpeg);
background-position  : -2736px -0px;
width:184px;
height:110px;
display:block;
}

.playmobil-184 {
background-image: url(../img/sprite-layout.jpeg);
background-position  : -1584px -0px;
width:184px;
height:110px;
display:block;
}

.eveiletjeux4 {
background-image: url(../img/eveiletjeux4.png);
width:154px;
height:26px;
display:block;
background-repeat:no-repeat;
}

.a186x756_25082010{
background-image: url(../img/186x756_25082010.gif);
width:186px;
height:756px;
display:block;
background-repeat:no-repeat;
}

#univ_heros_titre{
background-image: url(../img/univ_heros_titre.png);
width:424px;
height:30px;
display:block;
background-repeat:no-repeat;
}

span.invisible{
display:none;
}

#titres{
background-image: url(../img/vignette_enfants.png);
width:180px;
height:62px;
display:block;
background-repeat:no-repeat;
}

span.invisible{
display:none;
}

.vignet {
display:block;
width:150px;
height:80px;
background-repeat:no-repeat;
background-image: url(../img/sprite-layout.jpeg);
}

#fnacbook{
background-position  : -350px -0px;

}

#dvd{
background-position  : -200px -0px;
}

#jeuxvideos{
background-position  : -800px -0px;
}

#jouets{
background-position  : -950px -0px;
}

#informatique5{
background-position  : -650px -0px;
}

#tv
{
background-position  : -2402px -0px;
}

#musique
{
background-position  : -1100px -0px;
}

#photo
{
background-position  : -1434px -0px;
}

#son
{
background-position  : -1952px -0px;
}

#gadgetstendance
{
background-position  : -500px -0px;
}

#tiragephoto
{
background-position  : -2252px -0px;
}

#spectacle3
{
background-position  : -2102px -0px;
}
/*
.carroussel
{
background-image     : url(sprite-carroussel.png);
	background-color     : transparent;
	background-repeat    : no-repeat;
display:block;
 }

 #bon-plan-jouet_09_2010_545_jpg {
	height               : 147px;
	width                : 545px;
	background-position  : -0px -0px;
 }

 #coups-coeur-jouet_545_png {
	height               : 147px;
	width                : 545px;
	background-position  : -545px -0px;
 }

 #lapins-cretins-10_2010_545_jpg {
	height               : 147px;
	width                : 545px;
	background-position  : -1090px -0px;
 }*/
