.logo {
	display:block;
	width:101px;
	height:55px;
	background-image     : url(sprite-logo.png);
	background-color     : transparent;
	background-repeat    : no-repeat;
}

.haba {
background-position  : -0px -0px;
}

.lego {
background-position  : -101px -0px;
}

.playmobil {
background-position  : -303px -0px;
}

.liliputien {
background-position  : -202px -0px;
}

.vtech {
background-position  : -606px -0px;
}

.toys-story {
background-position  : -707px -0px;
}

.petshop {
background-position  : -505px -0px;
}

.twilight {
background-position  : -808px -0px;
}

.ouioui {
background-position  : -909px -0px;
}

.barbie {
background-position  : -404px -0px;
}

/* sélection 1er âge */
.block_bleu .cadre_produit span.img {
	display:block;
	width:63px;
	height:68px;
	background:#FFF;
	padding:6px 0;
}

.block_bleu .cadre_produit span.img .img {
display:block;
margin:0px 8px 0 8px;
width:47px;
height:68px;
background-image: url(sprite-sel-jouets.jpeg);
}

.clipo {
background-position  : -0px -0px;
}

.gaston {
background-position  : -47px -0px;
}

.biblio {
background-position  : -94px -0px;
}

.jungle {
background-position  : -141px -0px;
}

.formes {
background-position  : -188px -0px;
}

/* animer vos soirées */
.block_noir .cadre_produit span.img {
	display:block;
	width:63px;
	height:68px;
	background:#FFF;
	padding:6px 0;
}

.block_noir .cadre_produit span.img .img {
display:block;
margin:0px 8px 0 8px;
width:47px;
height:68px;
background-image: url(sprite-animer.jpeg);
}

.devine {
background-position: -0px -0px;
}

.timeup {
background-position: -47px -0px;
}

.trivial {
background-position: -94px -0px;
border:1px solid red:
}

.pictionnary {
background-position  : -141px -0px;
}

.academy {
background-position  : -188px -0px;
}

a.img-centre{
display:block;
width:110px;
height:150px;
margin-left:30px;
background-image: url(sprite-img-centre.jpeg);
}

.loups-garous{
background-position  : -110px -0px;
}

.barbie-video{
background-position  : -330px -0px;
}

.vtech-kidi {
background-position  : -220px -0px;
}

.mattel {
background-position  : -550px -0px;
}

.playset {
background-position  : -440px -0px;
}

.sentosphere {
	background-position  : -0px -0px;
}


/* sprite layout */
.aide-suivi-commande {
background-image: url(aide_suivi_commande.jpg);
width:200px;
height:58px;
display:block;
}

.vignette_prp_enfant
{
background-image: url(vignette_prp_enfant.jpg);
width:184px;
height:84px;
display:block;
}

.oui-oui-et-le-cadeau-surprise {
background-image: url(oui-oui-et-le-cadeau-surprise.jpg);
width:184px;
height:100px;
display:block;
}

.pomme-d-api-magazine {
background-image: url(pomme-d-api-magazine.jpg);
width:184px;
height:100px;
display:block;
}

.vtech-184 {
background-image: url(vtech-184.jpg);
width:184px;
height:110px;
display:block;
}

.playmobil-184 {
background-image: url(playmobil-184.jpg);
width:184px;
height:110px;
display:block;
}

.eveiletjeux4 {
background-image: url(eveiletjeux4.png);
width:154px;
height:26px;
display:block;
background-repeat:no-repeat;
}

.a186x756_25082010{
background-image: url(186x756_25082010.gif);
width:186px;
height:756px;
display:block;
background-repeat:no-repeat;
}

#univ_heros_titre{
background-image: url(univ_heros_titre.png);
width:424px;
height:30px;
display:block;
background-repeat:no-repeat;
}

span.invisible{
display:none;
}

#titres{
background-image: url(vignette_enfants.png);
width:180px;
height:62px;
display:block;
background-repeat:no-repeat;
}

span.invisible{
display:none;
}

.vignet {
display:block;
width:150px;
height:80px;
background-repeat:no-repeat;
}

#fnacbook{
background-image: url(fnacbook.jpg);
}

#dvd{
background-image: url(dvd.jpg);
}

#jeuxvideos{
background-image: url(jeuxvideos.jpg);
}

#jouets{
background-image: url(jouets.jpg);
}

#informatique5{
background-image: url(informatique5.jpg);
}

#tv
{
background-image: url(tv.jpg);
}

#musique
{
background-image : url(musique.jpg);
}

#photo
{
background-image : url(photo.jpg);
}

#son
{
background-image : url(son.jpg);
}

#gadgetstendance
{
background-image : url(gadgetstendance.jpg);
}

#tiragephoto
{
background-image : url(tiragephoto.jpg);
}

#spectacle3
{
background-image : url(spectacle3.jpg);
}
