/* ===================
 contenu Home ENFANTS
=====================*/
#col_droite_header_enfant{
  position:relative;
  margin-bottom:8px;
  padding:7px 0 2px 0
}

/* Univers des héros */
/* bloc "leurs héros préférés..." */
	#univ_heros ul,#univ_heros li
	{margin:0;padding:0;list-style-type:none}
	#univ_heros ul {margin-left:4px;margin-right:4px;}
	#univ_heros li {float:left;margin-right:8px;margin-top:8px}
	#univ_heros li * {text-align:center}
	#univ_heros li.last {float:right;margin-right:0}
	
	/* rollover - opacité */
	#univ_heros a.heros_img:hover {
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
	opacity:0.5;
}
	a.heros_desc {display:block;color:#777777;cursor:pointer;margin-top:.2em;font-size:.8em}
	/* /bloc "leurs héros préférés..." */


ul.enf_vignette {list-style:none;text-align:left;padding:0;margin-left:7px;margin-right:7px}
ul.enf_vignette li.titre {color:#000;font-size:1.1em}
ul.enf_vignette li.desc {color:#666666;font-size:1.1em}
ul.enf_vignette li.price {float:right;font-size:1.3em;color:#000000}
ul.enf_vignette li.link_1,ul.enf_vignette li.link_2 {margin-top:3px}
ul.enf_vignette li.link_1,ul.enf_vignette li.link_1 a {color:#de9c00}
ul.enf_vignette li.link_1 a {font-weight:bold}

